<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <%if(tasks.length>0){%>
        <%tasks.forEach(task=>{%>
            <h2><%=task.task%> </h2>
        <%})%>
    <%}else{%>
        <h2>No Tasks To display</h2>
    <%}%>


    <form action="/" method="POST">
        <fieldset>
            <legend>Task</legend>
            <input name="task"type="text"placeholder="Enter Task here">
        </fieldset>
        <button>Add Task</button>
    </form>
    
</body>
</html>